{% extends 'base.html.twig' %}

{% block title %}Админка — MyZEN{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/admin.css') }}">
{% endblock %}

{% block body %}
    <div id="root"></div>
{% endblock %}

{% block javascripts %}
    {% block importmap %}{% endblock %}
    <script type="module" src="{{ asset('build/admin.js') }}"></script>
{% endblock %}
